{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexalyst API",
    "description": "Risk Assessment for Enterprise-level Applications",
    "version": "1.0.0",
    "summary": "Nexalyst API for Risk Assessment",
    "contact": {
      "name": "Nexalyst Team",
      "url": "https://nexalyst.com",
      "email": "team@nexalyst.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "description": "Nexalyst API Server (Production)",
      "url": "https://api.nexalyst.com"
    },
    {
      "description": "Nexalyst API Server (Staging)",
      "url": "https://staging-api.nexalyst.com"
    },
    {
      "description": "Nexalyst API Server (Development)",
      "url": "https://dev-api.nexalyst.com"
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Endpoints related to organization management."
    },
    {
      "name": "Projects",
      "description": "Endpoints related to project management."
    }
  ],
  "paths": {
    "/api/v1/organizations/register": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "OAuth2": [
              "organization:registerOrganization"
            ]
          }
        ],
        "summary": "Register a new organization",
        "description": "Creates a new organization. If an organization with the specified name already exists, the operation will fail.",
        "requestBody": {
          "description": "Organization registration request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDTO"
                }
              }
            }
          },
          "409": {
            "description": "A conflict occurred due to an existing organization with the same name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "duplicateOrganization": {
                    "summary": "Duplicate organization error",
                    "value": {
                      "title": "Organization registration failed",
                      "status": 409,
                      "detail": "An organization with this name already exists",
                      "organizationName": "ExampleOrg",
                      "timestamp": 1637590238000,
                      "type": "/errors/duplicate-organization"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/update": {
      "put": {
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "OAuth2": [
              "organization:updateOrganization"
            ]
          }
        ],
        "summary": "Update an organization",
        "description": "Updates an existing organization. If an organization with the specified name already exists, the operation will fail.",
        "requestBody": {
          "description": "Organization update request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationId"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "A conflict occurred due to an existing organization with the same name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/createProject": {
      "post": {
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "OAuth2": [
              "project:createProject"
            ]
          }
        ],
        "summary": "Create a new project",
        "description": "Creates a new project for an organization.",
        "requestBody": {
          "description": "Project creation request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectId"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "A conflict occurred due to an existing project with the same name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/updateProject": {
      "put": {
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "OAuth2": [
              "project:updateProject"
            ]
          }
        ],
        "summary": "Update a project",
        "description": "Updates an existing project. If a project with the specified name already exists, the operation will fail.",
        "requestBody": {
          "description": "Project update request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectId"
                }
              }
            }
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "A conflict occurred due to an existing project with the same name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrganizationRegistrationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the organization.",
            "example": "ExampleOrg"
          },
          "description": {
            "type": "string",
            "description": "Organization description.",
            "example": "This is an example organization."
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "description": "Unique identifier for the project to update.",
            "example": 12345
          },
          "name": {
            "type": "string",
            "description": "New name for the project.",
            "example": "Updated Project Name"
          },
          "description": {
            "type": "string",
            "description": "New description for the project.",
            "example": "This is an updated project description."
          }
        },
        "required": [
          "projectId",
          "name"
        ]
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the organization to update.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "New name for the organization.",
            "example": "UpdatedOrgName"
          },
          "description": {
            "type": "string",
            "description": "New description for the organization.",
            "example": "This is an updated organization description."
          }
        },
        "required": [
          "organizationId"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "organizationId": {
            "$ref": "#/components/schemas/OrganizationId"
          },
          "name": {
            "type": "string",
            "description": "Name of the project.",
            "example": "Example Project"
          },
          "description": {
            "type": "string",
            "description": "Project description.",
            "example": "This is an example project."
          }
        },
        "required": [
          "organizationId",
          "name"
        ]
      },
      "OrganizationId": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the organization.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "organizationId"
        ]
      },
      "ProjectId": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 12345
          }
        },
        "required": [
          "projectId"
        ]
      },
      "OrganizationDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the organization.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "Name of the organization.",
            "example": "ExampleOrg"
          },
          "description": {
            "type": "string",
            "description": "Organization description.",
            "example": "This is an example organization."
          }
        }
      },
      "ProblemDetail": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem."
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code."
          },
          "detail": {
            "type": "string",
            "description": "A detailed explanation of the problem."
          },
          "organizationName": {
            "type": "string",
            "description": "Name of the organization causing the conflict. Applicable for specific error cases.",
            "example": "ExampleOrg"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "The time the error occurred.",
            "example": 1637590238000
          },
          "type": {
            "type": "string",
            "description": "A URI reference that identifies the problem type.",
            "example": "/errors/duplicate-organization"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
              "organization:registerOrganization": "Permission to register an organization",
              "organization:updateOrganization": "Permission to update an organization",
              "project:createProject": "Permission to create a project",
              "project:updateProject": "Permission to update a project"
            }
          }
        }
      }
    }
  }
}
